@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #222636 transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #222636;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2e3448;
}